<%- include('partials/directorsletters-header') -%>

<main>
  <section class="index-letter">
      <div id="bannersec">
        <a href="https://www.nationalscholasticmusiciansawards.com/home"><img src="<%= banner %>" alt="Random Banner"></a>
      </div>
      <div class="lettersec">
          <h3><%= letter.title %></h3>
          <br>
          <br>
          <iframe class="letter-content" src="<%= letter.content_link %>"></iframe>
          <div class="index-letter-categories">
              <div class="index-letter-category">
                <h5>Writer:</h5>
                <h4><%= letter.writer_name %></h4>
              </div>
              <div class="index-letter-category">
                <h5>For:</h5>
                <h4><%= letter.recipient_name %></h4>
              </div>
              <div class="index-letter-category">
                <h5>Category:</h5>
                <h4><%= letter.category_name %></h4>
              </div>
          </div>
          <div >
            <h4 class="btn btn-main"><a class="text-black" href="<%= letter.content_link %>">Link to Letter</a></h4>
            <h4 class="btn btn-main"><a class="text-black" href="https://drive.google.com/uc?export=download&id=<%= letter.download_link %>">Download Letter</a></h4>
          </div>
          <!--<div>
            <form action="/letters/<%= letter.letter_id %>/delete" method="POST">
              <button type="submit">Delete</button>
            </form>
          </div>
          -->
      </div>
  </section>
</main>

<script>
  // Total number of banner images you have
  const totalBanners = 46;

  // Generate a random number between 1 and totalBanners
  const randomBannerIndex = Math.floor(Math.random() * totalBanners) + 1;

  // Construct the URL of the selected banner image
  const bannerImageUrl = `/banners/webbanner${randomBannerIndex}.png`;

  // Set the background image of the random-banner-placeholder element
  const randomBannerPlaceholder = document.getElementById('random-banner-placeholder');
  randomBannerPlaceholder.style.backgroundImage = `url('${bannerImageUrl}')`;
</script>


<%- include('partials/directorsletters-footer') -%>