<%- include('partials/directorsletters-header') -%>

<main class="add-letter-container">
  <section class="add-letter-section">
    <form action="/letters" method="POST" class="add-letter-form">
      <div class="form-field">
        <h2>Edit Letter</h2> 
      </div>
      <div class="form-field">
        <label for="title" >Title:</label>
        <input type="text" name="title" class="center">
      </div>

      <div class="form-field">
        <label for="content" class="center">Content:</label>
        <textarea name="content" rows="4"  class="center"></textarea>
      </div>

      <div class="form-field">
        <label for="download_link" class="center">Download Link:</label>
        <textarea name="download_link" rows="4"  class="center"></textarea>
      </div>

      <div class="form-field">
        <label for="writer" class="center">Writer:</label>
        <select name="writer" class="center" required>
          <!-- Populate the options with the writer names from your database -->
          <% letterwriters.forEach(function(writer) { %>
            <option value="<%= writer.writer_id %>"><%= writer.name %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-field">
        <label for="recipient" class="center">Recipient:</label>
        <select name="recipient" class="center" required>
          <!-- Populate the options with the recipient names from your database -->
          <% letterrecipients.forEach(function(recipient) { %>
            <option value="<%= recipient.recipient_id %>"><%= recipient.name %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-field">
        <label for="category" class="center">Category:</label>
        <select name="category" class="center" required>
          <!-- Sort the letter categories alphabetically before populating the options -->
          <% lettercategories.sort((a, b) => a.name.localeCompare(b.name)).forEach(function(category) { %>
            <option value="<%= category.category_id %>"><%= category.name %></option>
          <% }); %>
        </select>
      </div>      
      <div>
        <button type="submit">Create Letter</button>
      </div>
    </form>
  </section>
</main>

<%- include('partials/directorsletters-footer') -%>
